div.content {
    display: block;
}

.meross {
    display: block;
    background-color: var(--tertiary-bg-color);
    border-radius: 25px;
    padding: 15px 15px;
    text-align: left;
}

.meross_outlet, .meross_monitor, .dummy_main {
    margin-top: 10px;
}

.meross_monitor {
    height: 200px;
}

.meross_outlet, .dummy_main {
    text-align: center;
}

.outlet_button {
    border: none;
    cursor: pointer;
    background-color: Transparent;
    width: 110px;
}