<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Smarthome</title>
   <link rel="stylesheet" type="text/css" href="/resource/css/header.css"/>
   <link rel="stylesheet" type="text/css" href="/resource/css/navbar.css"/>
   <link rel="stylesheet" type="text/css" href="/resource/css/footer.css"/>
   <link rel="stylesheet" type="text/css" href="/resource/css/body.css"/>
   <link rel="stylesheet" type="text/css" href="/resource/css/elements.css"/>
   <link rel="stylesheet" type="text/css" href="/resource/css/<%= style %>.css"/>
   <script language="javascript" type="text/javascript" src="/resource/js/function.js"></script>
</head>
<body class="body_container">
<header>
   <div class="burger-menu-container">
      <button class="invisible-button" onclick="collapsableNavbar()"><img src="/resource/pic/burger_menu.png" alt="burger_menu" height="20" width="20"></button>
   </div>
   <div <% if (minimize == "minimize") { %>id="minimize_header"<% } %> class="header-container">
      <div class="header-subcontainer">
         <h1 class="header-line">Smarthome</h1>
         <button class="invisible-button" onclick="showPopup()"><img src="/resource/pic/profile.png" alt="settings" width="35" height="35"></button>
         <div id="profile-popup">
            <div class="div-dark-mode">
               <div class="div-dark-mode-label">
                  <p onclick="changeMode()">Dark Mode</p>
               </div>
               <div class="div-dark-mode-switch">
                  <div id="switch_toggle" onclick="changeMode()">
                     <i class="switch_indicator"></i>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header>
